{% extends 'base_generic.html' %}

{% block title %}Container List{% endblock %}

{% block content %}
  <header class="mb-4 p-3 text-white rounded" style="background-color: #228B22;">
    <h2 class="display-5 m-0">Container List</h2>
  </header>
  <div class="mb-4">
    <a href="{% url 'products:container_create' %}" class="btn btn-success">Add Container</a>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Weight</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for container in containers %}
        <tr>
          <td>{{ container.name }}</td>
          <td>{{ container.weight }} g</td>
          <td>
            <a href="{% url 'products:container_update' container.pk %}" class="btn btn-warning">Edit</a>
            <a href="{% url 'products:container_delete' container.pk %}" class="btn btn-danger">Delete</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
