{% extends 'base_generic.html' %}

{% block title %}Lista de Productos{% endblock %}

{% block content %}
  <h2>Lista de Productos</h2>
  <a href="{% url 'productos:producto_create' %}" class="btn btn-primary">Agregar Producto</a>
  <table class="table">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Envase</th>
        <th>Cantidad</th>
        <th>Peso Neto</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      {% for producto in productos %}
        <tr>
          <td>{{ producto.nombre }}</td>
          <td>{{ producto.envase }}</td>
          <td>{{ producto.cantidad }}</td>
          <td>{{ producto.peso_neto }} g</td>
          <td>
            <a href="{% url 'productos:producto_update' producto.pk %}" class="btn btn-warning">Editar</a>
            <a href="{% url 'productos:producto_delete' producto.pk %}" class="btn btn-danger">Eliminar</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
